* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0; 
  }
  
  .navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: bisque;
    height: 80px; 
    padding: 0 20px; 
    width: 100%; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 10; 
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-item {
    margin-right: 1rem;
  }
  
  .navbar a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem; 
  }
  
  .navbar a:hover {
    color: blueviolet; 
  }
  
  .logo {
    width: 120px; 
    height: auto;
  }
  
  
  .carrito {
    position: relative;
  }
  
  .badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ee7787; 
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%; 
    transform: translate(50%, -50%);
  }
  